.row .sidebar {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    background-color: #f5f5f5;
    overflow-x:hidden;
    overflow-y:auto;
    padding-top:20px;
}

.detail-area {
    padding: 30px 30px;
}

.profile-image {
    width: 150px;
    height: 150px;

}

.sort-toolbar {
    float:right;
    margin-bottom:20px;
}

.clear-floats {
    clear:both;
}

