<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Address Book</title>
  <meta name="description" content="A simple address book app">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

</head>
<body ng-app="addressBook">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar"
           ng-controller="PersonMenuController">
        <ul class="nav nav-pills nav-stacked" role="navigation">
          <li ng-repeat="person in peopleListObj.peopleList | orderBy:currentSort" 
              ng-class="{'active': isActiveMenuItem($index)}" 
              ng-click="selectPerson($index)">
            <a href="" >{{person.name}}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" 
           ng-controller="PersonDetailsController">
        <div class="container detail-area">
          <div class="row">
            <div class="col-md-2 profile-pic">
              pic
            </div>
            <div class="col-md-6 summary">
              <h3>{{selectedPerson.name}}</h3>
              <ul class="list-unstyled">
                <li>
                  {{selectedPerson.workExperience[0].title}}
                </li>
                <li>
                  {{selectedPerson.phone}}
                </li>
                <li>
                  <a href="mailto://{{selectedPerson.email}}">{{selectedPerson.email}}</a>
                </li>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Education</h3>
              <dl class="dl-horizontal" ng-repeat="e in selectedPerson.education">
                <dt>{{e.startYear}} - {{e.endYear}}</dt>
                <dd>{{e.institution}}</dd>
                <dd>{{e.degree}}</dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>Experience</h3>
              <dl class="dl-horizontal" ng-repeat="w in selectedPerson.workExperience">
                <dt>{{w.startYear}} - {{w.endYear?w.endYear:'Present'}}</dt>
                <dd>{{w.institution}}</dd>
                <dd>{{w.title}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-mocks.js"></script>
  <script src="app.js"></script>
  <script src="menu/PersonMenuController.js"></script>
  <script src="details/PersonDetailsController.js"></script>

  <script src="services/PersonService.js"></script>
</body>

